* text=auto eol=lf

*.php text diff=php
*.yml text
*.md text
*.json text
*.xml text
*.svg text
*.png binary
*.jpg binary

/.gitattributes export-ignore
/.editorconfig export-ignore
/.github export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/examples export-ignore
